.container {
    width: 1000px;
    padding: 5px;
    border: 5px solid #a3a3a3;
    border-radius: 6px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    height: 200px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    column-gap: 5px;
}

.block_b {
    background-color: #d9d9d9;
    height: 400px;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block_c {
    background-color: #d9d9d9;
    height: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
