h1{
    text-align: center;
}
body{
    background-color: #345678;
}
p{
    text-align: justify;
    color: #c1ae10;
}
.film{
    background: gainsboro;
    color: darkred;
}
img{
    border: 15px solid gold;
    width: 350px;
}
