.container {
    width: 1000px;
    padding: 5px;
    border: 5px solid #a3a3a3;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.color {
    background-color: #d9d9d9;
}

.header {
    height: 200px;
    margin-bottom: 5px;
}

.center {
    display: flex;
    column-gap: 5px;
}

.center__right {
    height: 400px;
    flex-grow: 1;
}

.center__left {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    box-sizing: border-box;
}

.center__item {
    flex-grow: 1;
    height: 49%;
    width: 32%;
}