* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url(../image/hero_image.png) no-repeat center/cover;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 165px;
}

.header__menu {
    display: flex;
    column-gap: 35px;
}


.nav-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    border-right: 2px solid #fff;
    padding-right: 15px;
    column-gap: 23px;
    align-items: center;

}

.header__contact {
    display: flex;
    align-items: center;
}

.header_phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
}

.header__contact p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFF;
    height: 47px;
    background-color: #FF7400;
    margin-left: 50px;
    padding: 0 25px;
    cursor: pointer;
}

.nav__btn_mobile {
    display: none;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn_mobile div {
    width: 30px;
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top: 200px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 15px;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 25px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #c4c4c4;
}

.header__main button {
    margin: 20px 0;
}

.block__position {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    position: relative;
    top: 50px;

}

.block__position-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 349px;
    height: 250px;

    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

}

.block__position-item img   {
    width: 87px;
    height: 87px;
}

.block__position-item span {
    color: #BC9060;
}

.block__position-item-top {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 20px;
}

.block__position-item-text {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}