*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url(../image/hero_image.png) no-repeat center/cover;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    column-gap: 23px;
}


.nav-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.nav {
    border-right: 2px solid #fff;
    padding-right: 25px;

}

.header__contact {
    display: flex;
}

.header_phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}