.container {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.top {
    display: flex;
    column-gap: 20px;
}

.color {
    background-color: #2269BB;
}

.top__content {
    height: 500px;
    flex-grow: 1;
}

.center {
    height: 220px;
}

.footer {
    height: 220px;
    display: flex;
    column-gap: 20px;
}

.item {
    background-color: #16457A;
    flex-grow: 1;
}