.container {
    margin: 0 auto;
    width: 800px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.color {
    background-color: #2269BB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    flex-grow: 1;
}

.footer {
    flex-grow: 2;
}

.center {
    flex-grow: 1;
    display: flex;
    column-gap: 20px;
}

.center__item {
    background-color: #16457A;
    flex-grow: 1;
}

p {
    color: #EEEBEF;
    font-size: 20px;
    font-family: Calibri;
}

.size_36 {
    font-size: 36px;
}